# Facebook & Instagram

PAGE_ACCESS_TOKEN=EAASLM8OKAxUBRQaGbjCEDZBXOJfMD0FrPseSNR7pDhNGZBRxpgcEQvZBgzjqqoZA7WsRwgwaYtg5mqP9GHiZB1Jlb1CCLM2XOEWbskn8P4XlO0nVFzJzR3V1YzN5qCr74dYlLB7uKmZBb07C0I7RpcvEzXkd99FZB8XwYuorxjmPds9AzeS6522bIA0RmJe0fubUF0oHEtzNQZDZD

VERIFY_TOKEN=ds_meta_v1_secret

PAGE_ID=1028472993686178

INSTAGRAM_PAGE_TOKEN=EAASLM8OKAxUBRVsjB55c96qZCvSq4WuVRhzj9cYRA4yb7zxgRHYsEu7VNdr59rzYFV2O9p8oA2ZBkiXBkEROQejybBXKgZBXbyl3lBlk6G5VOcOGScIxq6rtTHZBbVZAopIDhmRU7AaWpRm948kSw7X8TzvRa00jMBvvIU089stmbtAMxzdAqvOJHcx02zNcKWORyFI9OpAZDZD

# WhatsApp

WHATSAPP_TOKEN=EAASLM8OKAxUBRVPDnvRZAT3Ez3CWGcMMoZA8ZCplShZB6Qq3rZBsBYEzb6ivxwFgvfMZB6vv7Ux6YqE3OTMEwpxSEyHNKsaZBGOefgnHruSZC6mVCrFbDohzmuSv4zqEZC4QgiZC6C3lk3BtOYyvj6WrkjtPWcq6tPJoCwaijgdNoa0uZCnkfqU1nZC37IYqf64ZAH5DZByRlAsfGZASWujxHe0oGGdtKOJhn1EZB1RyeZBTopv3IdwMoMc9dt3zx8tasjcgBQLLq74wv52AZC4b2v7tJHZAR4FGX9t

WHATSAPP_PHONE_NUMBER_ID=1121987954327518

WHATSAPP_BUSINESS_ACCOUNT_ID=1261016156199224

# App Credentials

META_APP_ID=1278954347037461

META_APP_SECRET=022bf3f67af7c23baf9c1b5f32d934a9

# Server port
PORT=3000
